@page "/Compo/SearchPlace/Search"
@model Darayas.Maps.Pages.Home.Components.Map.SearchPlace.Compo_SearchModel


<LoadUiComponents model="null" http-context="HttpContext" class="CompoSearch" ui-url="/Compo/SearchPlace/TextBoxSearch"></LoadUiComponents>

<div class="col-md-12">
    <div class="LstPlace">

    </div>
</div>